.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    margin: 10px;
}
.cart-container{
    background-color: #FF9900;
}
