.container{
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}
.header{
    display: flex;
    align-items:end;
    /* justify-content: space-between; */
}
.logo{
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.logo img{
    width: 100px;
}
.logo h1{
    position: absolute;
    top:60%;
    left: 20%;
    font-family:'Simonetta', cursive;
    color: #001D4D;
}
.menu a{
    text-decoration: none;
    padding: 0 20px;
    color:#001D4D;
    font-size: 17px;
}
.icon{
    padding-right: 25px;
    color: blue;
}
