*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border: 1px solid salmon;
    padding: 0 10px;
}
a{
    text-decoration: none;
    color: black;
}
.header .logo h1 a{
    text-decoration: none;
    color: yellowgreen;
}
.header .menu ul{
    display: flex;
}
.header .menu ul li{
    list-style: none;
    padding: 10px;
    color: goldenrod;
    font-size: 17px;
}
.header .menu ul li a{
    text-decoration: none;
}
.filterProducts{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap:20;
    justify-content: center;
}
.card{
    width: 350px;
    border: 1px solid gray;
    padding: 5px 10px;
}
.card .image img{
    width: 100%;
    height: 150px;
}
.allProducts{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap:20;
    margin-top: 30px;
    justify-content: center;
}
.shimmer{
    width: 350px;
    border: 1px solid grey;
    padding: 5px 10px;
    height: 350px; 
    background-color: #f0f0f0;
}
.shimmer .image{
    width: 100%;
    height: 150px;
    border: 1px solid black;
}

.searchBox{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.searchBox .search{
    width: 600px;
    padding: 8px;
}
.searchBtn{
    width: 120px;
    background-color: aquamarine;
    border: none;
    color: darkgreen;
}
.product-detail-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-detail-container .product-details{
    width: 350px;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: 20px 0;
    height: 300px;
}
.product-detail-container .product-details .image img{
    width: 100%;
    height: 150px;
}
.themeBtn{
    display: flex;
    align-items: center;
}
.themeBtn button{
    width: 100px;
    padding: 8px 0;
    color: white;
    border: none;
    background-color: darkgreen;
}

/* //darkTheme */
.darkApp{
    background-color: black;
    color: whitesmoke;
}
.darkHeader{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    border: 1px solid white;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.752);
}
.darkHeader .logo h1 a{
    text-decoration: none;
    color: yellowgreen;
}
.darkHeader .menu ul{
    display: flex;
}
.darkHeader .menu ul li{
    list-style: none;
    padding: 10px;
    
    font-size: 17px;
}
.darkHeader .menu ul li a{
    text-decoration: none;
    color: goldenrod;
}
.darkCard{
    width: 350px;
    border: 1px solid gray;
    padding: 5px 10px;
    background-color: white;
}
.darkCard .image img{
    width: 100%;
    height: 150px;
}
.darkContact,.darkCart,.darkInstamart,.darkAbout{
    height: 100vh;
}
.dark-product-detail-container{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.dark-product-detail-container .product-details{
    width: 350px;
    border: 1px solid gray;
    padding: 5px 10px;
    margin: 20px 0;
    background-color: white;
    color: black;
    height: 300px;
}
.dark-product-detail-container .product-details .image img{
    width: 100%;
    height: 150px;
}